accelerate==1.2.1
bitsandbytes==0.45.0
transformers==4.47.1
pandas
matplotlib
seaborn
numpy
scikit-learn
nltk
gensim
sentence-transformers
torch
bertopic
umap-learn
hdbscan
tqdm
pysentimiento
wordcloud
pyLDAvis
pyyaml
pytest
kaleido==0.2.1
import_ipynb
top2vec
